h1 {
  color: green;
}
#food .items {
  color: red;
  font-weight: 700;
}
.section-card {
  background-color: burlywood;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
